/* You can add global styles to this file, and also import other style files */
.yellow {
    color: #d2be0e;
}
.w3-bar h1 {
    margin-left: 2em;
    margin-top: 1em;
}
.navigation-right {
    margin-right: 3em;
    margin-top: -2.8em;
}
.introduction {
}
.introduction-img {
    width:100%;
    height: 750px;
    z-index: -1;
}
.introduction-card {
    margin-top: -37em;
}
.introduction-content {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color:  	#1D1D1D;
}
.introduction-content h1 {
    font-size: 120px;
    font-family: 'Teko', sans-serif;
}
@media (max-width:860px){
    
    .w3-bar h1 {
        margin-left: 0.4em;
    }
}
@media (max-width:770px) {
    .w3-bar h1 {
        margin-top: 0.2em;
        margin-left: 6.5em;
    }
    .navigation-right {
        margin-top: 0.05em;
        display: inline-block;
        width: auto;
    }
}
@media (max-width: 600px){
    .w3-bar h1 {
        margin-left: 0.3em;
    }
    .w3-bar {
        background-color: #1D1D1D;
    }
    .toggle-menu {
        font-size: 40px;
        margin-top: -1.7em;
        margin-right: -1.2em;
        color: gold;
    }
    #collapsible-menu {
        height: 600px;
        background-color: #1D1D1D;
    }
    .introduction-card {
        margin-top: -42em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .introduction-content h1 {
        font-size: 90px;
    }
}
@media (max-width: 400px) {
    .w3-bar h1{
        font-size: 26px;
    }
    .w3-bar {
        padding-top: 0.5em;
    }
    .toggle-menu {
        font-size: 26px;
        margin-top: -2em;
        margin-right: -2em;
    }
    .introduction-card {
        margin-top: -44em;
        margin-left: 1em;
        margin-right: 2em;
    }
    .introduction-content {        
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (max-width: 350px) {
    .introduction-card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
#collapsible-menu {
    padding:2em;
    padding-right: 6em;
    padding-left: 1em;
}
#collapsible-menu a {
    margin-bottom: 1em;
}
.toggle-menu:hover {
    color: darkorange;
    text-decoration: none;
}
.introduction-content p {
    font-size: 20px;
    color: antiquewhite;
}
.teko {
    font-family: 'Teko', sans-serif;
}
