<div class="row who-we-are-div" id="who-we-are">
    <div class="who-we-are-content">
        <h1 class="teko">Who we are</h1>
        <p class="">
            For over a decade, CEF Construction has provided <br>
            high-standard construction and restoration services to<br>
            clients in the <b>Greater Houston</b> and all along the <br>
            <b>Texas</b> and <b>Louisiana</b> Gulf Coast region. As a small <br>
            construcion company that is <b>majority woman-owned,</b><br>
            we take pride in how far we've come and the lasting <br>
            client relationships we've developed. By meeting and <br>
            exceeding project expectations, we've built an industry <br>
            reputation founded on safety, quality and <br>
            dependability.
        </p>
    </div>
</div>
<div class="row what-we-do" id="what-we-do">
    <div class="what-we-do-content">
        <h1 class="yellow what-we-do-header teko">
            What We do
        </h1>
        <div class="row what-we-do-description">
            <div class="col-md-6">
                <div>
                    <h2>
                        Concrete Restoration
                    </h2>
                    <p>
                        Secure your structure with our concrete restoration services.<br>
                        From surface renovation to full scale structural restoration, we <br>
                        can repair and restore your concrete building and structures <br>
                        so they're just like new again.
                    </p>
                </div> <br>
                <div>
                    <h2>Historical Restoration</h2>
                    <p>
                        Certian buildings may require specialized attention during<br>
                        restoration in order to preserve history while still improving <br>
                        foundational integrity. With our focus on quality and precision <br>
                        count on CEF to restore your structure to its former glory.
                    </p>
                </div>               
            </div>
            <div class="col-md-6">
                <div>
                    <h2>
                        New Construction
                    </h2>
                    <p>
                         Build a structural foundation that lasts with our turnkey<br>
                         construcion services. Starting with initial planning and site <br>
                         prep all the way through project management to completion, <br>
                         we'll take care of everything so you don't have to.
                    </p>
                </div><br>
                <div>
                    <h2>
                        Site Maintenance
                    </h2>
                    <p>
                        With regular site maintenance, you can avoid costly total <br>
                        restoration and extend the life of your concrete. Our team will<br>
                        perform routine maintenance and repairs to keep your structure <br>
                        in optimal condition.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row footer" id="contact-us">
        <div class="col-md-6 how-can-we-help">
            <h1 class="yellow teko">
                How Can We <br>
                Help You?
            </h1><br><br><br>
            <p>
                Let's start a conversation. Tell us a little bit about <br>
                your project and a CEF representative will reach out <br>
                to discuss how we can meet your project needs.
            </p><br>
            <h3>
                Contact Us
            </h3>   
            <div class="row">
                <div class="col-md-6">
                    <h3 class="yellow">
                        Address
                    </h3>
                    <p>
                        9208 Winkler Drive <br>
                        Houston, TX 77017
                    </p>
                </div>
                <div class="col-md-6">
                    <h3 class="yellow">
                        Phone
                    </h3>
                    <p>
                        (281) 831-4337
                    </p>
                </div>
            </div>         
        </div>
        <div class="col-md-6">
            <form class="contact-us">
                <div class="row">
                    <div class="col-md-6 left-side">
                        <p>First name</p>
                        <input class="half-length" type="text" id="first-name" placeholder="John">
                    </div>
                    <div class="col-md-6 right-side">
                        <p>last-name</p>
                        <input type="text" class="half-length" placeholder="Doe">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 left-side">
                        <p>Email</p>
                        <input placeholder="johndoe@example.com" class="half-length" type="email" id="Email">
                    </div>
                    <div class="col-md-6 right-side">
                        <p>Phone number</p>
                        <input type="text" class="half-length" placeholder="e.g 0702085724">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Company Name</p>
                        <input type="text" class="full-length" placeholder="Whom do you represent">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                    
                        <p>Message</p>
                        <textarea class="text-area" placeholder="Write your message here"></textarea>
                        <div class="submit-div">
                            <input type="submit" value="Submit" class="submit w3-btn teko ">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row bottom-strip">
        <div class="row bottom-strip-content">
            <div class="col-md-2">
                <h4 class="yellow">
                    Navigate
                </h4>
                <p><a href="#">Home</a></p>
                <p><a href="#who-we-are">Who we are</a></p>
                <p><a href="#what-we-do">What we do</a></p>
            </div>
            <div class="col-md-2">
                <h4 class="yellow">
                    Contact us
                </h4>
                <p>
                    9208 Winkler Drive
                </p>
                <p>
                    Houston, TX 77017
                </p>
            </div>
            <div class="col-md-2">
                <p>(281) 831-4337</p>                
            </div>
            <div class="col-md-2">
                <p>
                    Send us a message
                </p>
            </div>
            <div class="col-md-4">
                <img src="../assets/images/women-owned.png" class="logo-bottom">
            </div>
        </div>
        
    </div>
    <div class="row copyright">
        <p>&copy; CEF Construction | Custom web design by Big Slash Web Design</p>
    </div>