.who-we-are-div {
    margin-top: 8em;    
    background-image: url('/assets/images/Who We Are.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 18em;
    padding-top: 15em;
    padding-bottom: 20em;
}
@media (max-width: 1300px) {
    .who-we-are-div {
        padding-left: 10em;
    }
}
@media (max-width: 1160px) {
    .who-we-are-div {
        padding-left: 5em;
        padding-top: 8em;
    }
}
@media (max-width: 1050px) {
    .who-we-are-div {
        padding-left: 1em;
    }
}
@media (max-width: 1000px){
    .who-we-are-div {
        padding-left: 0em;
    }
}

.who-we-are-img {
    z-index: -1;
}
.who-we-are-content { 
    width: 100%;
    padding-left: 27em;
}
@media (max-width: 970px) {
    .who-we-are-content {
        padding-left: 13em;
        background-color: rgb(29, 29, 29, 0.8);
    }
    .who-we-are-div {
        background-size: 160%;
    }
}
@media (max-width: 770px) {
    .who-we-are-content {
        padding-left: 8em;
        padding-top: 3em;
    }
    .who-we-are-div {
        margin-top: 7em;
    }
}
@media (max-width: 700px) {
    .who-we-are-content {
        padding-left: 2em;
    }
}
@media (max-width: 600px) {
    .who-we-are-content {
        margin-top: 9em;
    }
    .who-we-are-div {
        padding-right: 1em;
        background-size: 200%;
    }
    .who-we-are-div p {
        font-size: 16px;
    }
    .who-we-are-div br {
        display: none;
    }
}
@media (max-width: 530px) {
    .who-we-are-content {
        margin-top: -1em;
    }    
}

.who-we-are-content p{
    color: antiquewhite;
}
.who-we-are-content h1 {
    font-size: 83px;
    color: #d2be0e;
}
.who-we-are-content p {
    font-size: 20px;
    color: gainsboro;
}
@media (max-width: 465px) {
    .who-we-are-div {
        margin-top: -2em;
    }
    .who-we-are-content {
        margin-top: 2em;
    }
    .who-we-are-div p {
        font-size: 17px;
    }
}
@media (max-width: 435px) { 
    .who-we-are-div {
        background-size: 250%;
    }
}
@media (max-width: 370px) {
    .who-we-are-div {
        background-size: 700px 900px;
        margin-top: 4em;
    }
    .who-we-are-div h1 {
        font-size: 70px;
    }
}
.what-we-do {
    background-image: url('/assets/images/What We Do.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -1em;    
    padding-bottom: 30em;
    padding-left: 7em;
    padding-top: 10em;
    z-index: -2;
}
.what-we-do-content {
    position: relative;
}
.what-we-do-content h1 {
    font-size: 75px;
}
.what-we-do h2 {
    color: blanchedalmond;
}
.what-we-do-header::after {
    content: '';
    position: absolute;
    width: 110%;
    margin-left: -3.6em;
    margin-top: 1.6em;
    border-bottom: 1px solid grey;
}
.what-we-do-description {
    color: gainsboro;
    padding-top: 5em;
    margin-top: 3em;
    padding-left: 5em;
}
@media (max-width: 1320px) {
    .what-we-do {
        margin-top: -9em;
    }   
    .what-we-do-header::after {
        width:100%;
    }
}
@media (max-width: 1160px) {
    .what-we-do-header::after {
        width: 95%;
    }
    .what-we-do {
        padding-left: 4em;      
        background-size: 110%;
    }
    .what-we-do-description {
        margin-left: -6em;
    }
}
@media (max-width: 1040px) {
    .what-we-do {
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 1em;  
    }
}
@media (max-width: 950px) {
    .what-we-do br {
        display: none;
    }
}
@media (max-width: 860px) {
    .what-we-do {
        background-size: 150%;
    }
}
@media (max-width: 770px) {
    .what-we-do {
        background-size: 170%;
    }
    .what-we-do h2 {
        text-align: center;
    }
    .what-we-do-description {
        margin-top : -2em;
    }
}
@media (max-width: 650px) {
    .what-we-do {
        margin-top: -14em;
        background-size: 250%;
    }
}
@media (max-width:590px) {
    .what-we-do {
        margin-top: -16em;
    }
}
@media (max-width: 550px) {
    .what-we-do {
        margin-top: -16em;
        background-size: 290%;
    }
}
@media (max-width: 500px) {
    .what-we-do {
        background-size: 700px 1100px;
    }
}
@media (max-width: 450px) { 
    .what-we-do {
        background-size: 700px 1300px;
    }
}
.footer {
    background-image: url('/assets/images/Contact Us.png');
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin-top: -17em;
    padding: 8em;
    color: gainsboro;
    position: relative;
    z-index: -1;
}
.footer h1::after {
    content: '';
    position: absolute;
    width: 70%;
    margin-left: -2.9em;
    margin-top: 1.6em;
    border-bottom: 1px solid grey;
}
.footer h1 {
    font-size: 60px;
    font-family: 'Teko', sans-serif;
}
.how-can-we-help {
    margin-top: 3em;
    padding-left: 4em;
}
.contact-us {
    color: #d2be0e;
}
.contact-us {
    background-color: #1D1D1D;
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 1em;
    padding-bottom: 4em;
}
.contact-us input {
    margin-bottom: 1.5em;
    margin-top: -8px;
}
.half-length {
    padding: 9px;
    height: 2.7rem;
}
.full-length {
    padding: 9px;
    height: 2.7rem;
    width: 100%;
}
.text-area {
    padding: 9px;
    height: 10rem;
    width: 100%;
    margin-bottom: 3em;
}
.submit {
    background-color: #d2be0e;
    color: black;
    text-transform: uppercase;
    padding: 0em;
    width:45%;
    font-size: 25px;
}
.submit-div {
    display: flex;
    justify-content: center;
}
.bottom-strip {
    margin-top: -8em;
    background-color:#4a4a4a;
    padding-left: 8em;
    padding-top: 3em;
    padding-bottom: 3em;
    width: 110%;
}
.bottom-strip p {
    color: gainsboro;
}
.bottom-strip-content {
    width: 100%;
}
.bottom-strip .col-md-3 {
    width: 100%;
}
.bottom-strip-content .col-md-2:nth-child(3) {
    padding-top: 2.85em;
}
.bottom-strip-content .col-md-2:nth-child(4) {
    padding-top: 2.8em;
}
.logo-bottom {
    width:60%;
    margin-top: 1em;
}
.copyright {
    background-color: #1D1D1D;
    width: 105%;
    padding: 1em;
    color: gainsboro;    
    display: flex;
    justify-content: center;
}
@media (max-width: 1300px) {
    .half-length {
        width: 100%;
    }
}
@media (max-width: 1280px) {
    .footer {
        margin-top: -25em;
    }
}
@media (max-width: 1280px) and (min-width:1220px) {
    .footer {
        padding-top: 13em;
    }
}
@media (max-width: 1100px) {
    .footer {
        padding-left: 3em;
        padding-right: 4em;
    }
}
@media (max-width: 1160px) and (min-width:1050px) {
    .footer {
        padding-top: 14em;
    }
}
@media (max-width: 999px) { 
    .footer br {
        display: none;
    }
    .footer h1::after {
        margin-left: -1.5em;
        margin-top:   1.1em;
        width: 82%;
    }
}
@media (max-width: 880px) {
    .footer {
        margin-top: -27em;
    }
}
@media (max-width: 860px) {
    .footer {
        margin-top: -10em;
    }
}
@media (max-width: 848px) {
    .footer {
        margin-top: -14em;
    }
}

@media (max-width: 843px) {
    .footer h1::after {
        margin-left: -2.9em;
        margin-top:   1.1em;
        width: 82%;
    }
}
@media (max-width: 792px) {
    .footer {
        margin-top: -17em;
    }
}
@media (max-width: 771px) {
    .footer {
        margin-top: -7em;
    }
}
@media (max-width: 768px) {
    .footer {
        margin-top: -10em;
        text-align: center;
        background-size: 120% 100%;
    }
}
@media (max-width: 767px) {
    .footer {
        margin-top: -26em;
    }
    .footer h1::after {
        margin-left: -8.1em;
        margin-top:   1.1em;
        width: 82%;
    }
    .half-length, .submit {
        width: 100%;
    }
    .submit {
        margin-left: 0em;
    }
    .contact-us p {
        text-align: left;
    }
    .how-can-we-help {
        padding-left:1em;
    }
    .bottom-strip-content, .bottom-strip {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .bottom-strip {
        padding:1em;
    }
    .logo-bottom {
        width: 30%;
    }
}
@media (max-width: 720px) {
    .footer h1::after {
        margin-left: -7.6em;
        margin-top:   1.1em;
        width: 82%;
    }
}
@media (max-width: 670px) {
    .footer h1::after {
        margin-left: -7.2em;
        margin-top:   1.1em;
        width: 82%;
    }
}

@media (max-width: 610px) {
    .footer h1::after {
        margin-left: -7.0em;
        margin-top:   1.1em;
        width: 82%;
    }
}

@media (max-width: 650px) {
    .footer {
        z-index: 2;
    }
}

@media (max-width: 554px) {
    .footer h1::after {
        margin-left: -6.9em;
        margin-top:   1.1em;
        width: 90%;
    }
}
@media (max-width: 510px) {
    .footer h1::after {
        margin-left: -3.9em;
        margin-top:   1.1em;
        width: 90%;
    }
}
@media (max-width: 372px) {
    .footer h1::after {
        margin-left: -2.6em;
        margin-top:   1.1em;
        width: 82%;
    }
}
@media (max-width: 280px) {
    .what-we-do {
        background-size: 900px 1600px;
    }
    .footer {
        margin-top: -30em;
    }
}